body {
  font-family: Arial, sans-serif;
}

.hero-section {
  background: url('https://raw.githubusercontent.com/clentebanks/-Interpreter-Studio/refs/heads/main/img/hero%20section%20image.webp') no-repeat center center;
  background-size: cover;
  color: black;
  padding: 100px 0;
}

.hero-section .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.card {
  margin-bottom: 30px;
}

footer {
  background-color: #343a40;
}
/*sound master*/
body {
  background-color: #f8f9fa;
}

.card {
  margin-top: 50px;
}

#volumeRange {
  width: 100%;
}

/*end sound master*/

/* Estilos para el loader */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none; /* Oculto por defecto */
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*fin estilos loader*/